<!--- Include header -->

<%- include('include/_header') %>
<!---- /include header -->
<!--- Main site--->
<br>
<br>
<div class="container">
	<section class="hero is-danger">
  <div class="hero-body">
    <p class="title">
	
<button class="button is-rounded is-large is-warning ">
 <a href="add-casa">Adicionar Nova Casas</a> </button> 

    </p>
    <p class="subtitle">
    	Adicione uma  casa que pretende vender ou arrenda ao 
    </p>

</section>
	<br>
	<br>
	



							<%- include('include/_show') %>

	</div>

<!--- /main site -->

<!--- Include footer -->

<%- include('include/_footer') %>
<!---- /include footer 	