<!--- Include header -->

<%- include('include/_header') %>
<!---- /include header -->
<!--- Main site--->
<br>
<br>
<div class="container">
	<section class="hero is-danger">
  <div class="hero-body">
    <p class="title">
	Nova Casas

    </p>
    <p class="subtitle">
    	Adicione um  casa que pretende vender ou arrenda ao 
    </p>
  </div>
</section>
	<br>
	<br>
	



							<%- include('include/_show') %>

	</div>

<!--- /main site -->

<!--- Include footer -->

<%- include('include/_footer') %>
<!---- /include footer 	