

<!--- Include header -->

<%- include('include/_header') %>
<!---- /include header -->
<!--- Main site--->
<br>
<br>
<div class="container">
	<section class="hero is-danger">
  <div class="hero-body">
    <p class="title">
	
<button class="button is-rounded is-large is-warning ">
 <a href="add-casa">Adicionar Nova Casas</a> </button> 

    </p>
    <p class="subtitle">
    	Adicione uma  casa que pretende vender ou arrenda ao 
    </p>
<form action="/" method="GET">
	<div class="field has-addons">
		  <div class="control">
		<input class="input" type="text" name="search" placeholder="procura a casa"> 
	</div>
		 	  <div class="control">
		<input class="button is-warning" type="submit" value="Procurar">
	</div>
	</div>
</form>


</section>

	<br>
	<br>
	<% if(noneMatch !== null){ %>

	<h2><%= noneMatch %></h2>

<% }%>

	
<%- include('include/_show') %>

	</div>

<!--- /main site -->

<!--- Include footer -->

<%- include('include/_footer') %>
<!---- /include footer 	
