
	<!-- form handling -->

	<form  method="POST" id="add_user">
		<div class="new_user">
			<div class="form-group">
				<label for="name" class="text-light"> Morada</label>
				<input type="hidden" name="id" value="">
				<input type="text" name="name" value=""placeholder="Heisler Lemos">
			</div>
				<div class="form-group">
				<label for="Email" class="text-light"> Contacto </label>
				<input type="text" name="email" value=""placeholder="heisler.lemos@exemplo.com">
			</div>
			<div class="form-group">
				<label for="genero" class="text-light">Genero </label>
				<div class="radio inline">
				<input type="radio" id="radio-2"name="genero" value="Masculino">
				<label for="radio-2" class="radio-label">Masculino </label>
				</div>
					<div class="radio inline">
				<input type="radio" id="radio-3"name="genero" value="Feminino">
				<label for="radio-3" class="radio-label">Feminino </label>
				</div>
			</div>

				<div class="form-group">
				<label for="genero" class="text-light">Estado</label>
				<div class="radio inline">
				<input type="radio" name="genero" id="radio-4" value="Activo">
				<label for="radio-4" class="radio-label">Activo</label>
				</div>
					<div class="radio inline">
				<input type="radio" name="genero" id="radio-5" value="Desativo">
				<label for="radio-5" class="radio-label">Desativo</label>
				</div>
			</div>

		<div class="form-group">
			<button type="submit" class="btn text-dark update">Guardar</button>
		</div>
	

	</form>