
	<!-- form handling -->

	<form action="/api/casas" method="POST" id="add_user">
		<div class="new_user">
			<div class="form-group">
				<label for="morada" class="text-light"> Morada</label>
				<input type="text" name="morada" value=""placeholder="Morada da casa ">
			</div>
				<div class="form-group">
				<label for="contacto" class="text-light"> Contacto </label>
				<input type="text" name="contacto" value=""placeholder="Numero de telefone">
			</div>
			<div class="form-group">
				<label for="estado_do_bairro" class="text-light"> Estado do bairro</label>
				<input type="text" name="estado_do_bairro" value=""placeholder="Morada da casa ">
			</div>
				<div class="form-group">
				<label for="fotografia_da_localização" class="text-light"> Fotografias das localizações</label>
				<input type="text" name="fotografia_da_localização" value=""placeholder=" url das fotografias da localização ">
			</div>

		<div class="form-group">
			<button type="submit" class="btn text-dark update">Guardar</button>
		</div>
	

	</form>