<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>



<link rel="icon" href="/img/favicon.ico">



<title> O meu lar </title>

<body>

	<nav class="navbar" role="navigation" aria-label="main navigation">




    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
	 <div class="navbar-menu" id="navbarBasicExample" >
	<!-- start of navabar start -->
	<div class="navbar-start"> 
	<div class="navbar-brand">
  		<div class="navbar-item is-expanded">
		<a href="/" class="nav-brand " style="color: hsl(0, 0%, 96%); text-shadow: 1px 1px 3px hsl(0, 0%, 21%);">o meu lar </a>
    		</div>
		  </div>	
	</div>

 	<!-- end of navabar start -->
	<div class="navbar-end">
  	<!-- first navbar of the end -->
	<div class="navbar-item">
      <button class="button is-danger" >
         <a href="add-casa" style="color:white;">Adicionar Nova Casas</a> 
      </button> 
        </div>  
	<!-- end of first navabar -->
	<!-- second navbar -->
	<div class="navbar-item">	
        <form action="/" method="GET">
	<div class="field has-addons">
        
	<div class="control">
        <input class="input" type="text" name="search" placeholder="procura a casa"> 
	</div>
	<div class="control">
        <input class="button is-info" type="submit" value="Procurar">
	</div>	
	
	</div>
         </form>
        </div>
	<!-- end of second -->
   	</div>
	<!-- end of navabar end-->

		<!-- end of the navbar item --->
     </div>
     <!-- end of the hide -->
  </nav>


<!-- /header --->


<script>

document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});
</script>
