@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


:root{

	--dark: hsl(0, 0%, 4%);
	--light:  hsl(0, 0%, 29%) ;
	--border:hsl(0, 0%, 100%);
	--border-btn: hsl(0, 0%, 96%);
}


* {

	padding: 0;
	margin:  0;
	box-sizing: border-box;

}


body {
		background-color: #FAF9F6;

}

a {
	text-decoration: none;
}

.container {
	max-width: 1024px;
	margin: auto;
}


.nav-brand {
	font-size: 3.5em;
	font-weight: bold;

}



.d-flex {

	display:  flex;
	display:  wrap;
}


.justify-beteween {

	justify-content: space-between;
}


.text-center {

text-align: center;

}


.border-shadow {

	border:  1px solid var(--border-btn);
		box-shadow:  1px 3 px 10px;
	}

.text-dark{
	color:  #080808;
	}


.form-title h2 {
	color:  black;
  font-size: 40px;
  font-weight: 20px;
}

.inline {
	display: inline-block;
}


.text-light{
	color: var(--light);
}


.text-gradient {
	background: linear-gradient(to right, #22c1c3 ,#5d6f15);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

}


#header nav {
	background-color:    hsl(0, 0%, 21%) ;
	padding:  1em 0;
	width:  100%;
	  box-shadow: 5px 4px  grey;
}

#site-main {
	margin-top:  6em;
}


#site-main .container .box-nav > a {
	font-size:  1em;
	padding:  .5em 1em;
}

#site-main .container form {
margin: 2em 0;

}

table {
	border-spacing: px;
	width: 100%;
}

.table td, .table th {
	padding:  .75em;
	vertical-align: top;
	text-align: center;
	border-top: 1px solid var(--border);
}


.table td > a.btn {
	padding: .1em 1em;
	font-size: 1.1em;
	margin: 0.2em;

}

html body div.container div.columns.is-multiline div.column.is-4 div.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}


.table tr:hover td > a {

	box-shadow: none;
}


.table .thead-dark  th{
color:  #fff;
background-color: var(--dark);
border-color: #32383e;
}


@media only screen and (max-width: 1024px){
	table, thead , tbody, th , td , tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left:  -9999px;

	}

	tr {
		border: 1px solid var(--border);

	}

	td {
		border: none;
		position: relative;
	}
}


/** Add user and update user **/

.form-title {
	margin-top: 2em;
	
}

.form-title > h2 {
	padding: .5em 0;
}

.new_user {
	max-width: 786px;
	margin: auto;
}

#update_casa .form-group, 
#add_user .form-group  {
	margin: .4em 0;
}


#update_casa .form-group  input[type="text"],
#add_user .form-group  input[type="text"]{
	width: 100%;
	padding: .6em 1em;
	margin: .5em 0;
	border:  1px solid var(--border);
	font-size: 1em;
	border-radius: .2em;

}



#update_casa .form-group  .radio,

#add_user .form-group  .radio
{
	margin: 1em 2em;
}


/* adding style to radio buttons */


.radio input[type="radio"]{
	position: absolute;
	opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
	content:  "";
	background: var(--border-btn) ;
	border-radius: 100%;
	border:  1px solid var(--border);
	display: inline-block;
	width:  1em;
	height: 1em;
	position: relative;
	top: -0em;
	margin-right: .5em;
	vertical-align: top;
	cursor:  pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
}


.radio input[type="radio"]:checked + .radio-label:before {
	background-color: #16db93;
	box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type="radio"]:focus + .radio-label:before {
outline: none;
border-color: #16db93;
}




.radio input[type="radio"]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #e9ecef;
	border-color: #b4b4b4;
	background-color: #b4b4b4;
}

#update_casa .form-group .btn,
#add_user .form-group .btn {
	width: 100%;
	padding: .9em 1em;
	background-color: var(--dark);
	border: none;
	font-size: 1em;
	cursor: pointer;
	color: white;
	border-radius: .2em;
	margin: .5em 0;
}

#update_casa .form-group .btn:hover ,
#add_user .form-group .btn:hover {
	background-color: var(--dark);
	color:  var(--border);
}


.modal-content {
	width: 100%;
	height:  100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper {
	width:  80%;
	height:  fit-content;
}

.swiper-slide img {
	width:  100%;

}

a.js-modal-trigger img {

width: 100%;
    height: 17vw;
    object-fit: cover;

}

#dialog {

    display:none;
    position:fixed;
    left:20%;
    top:20%;
}



/*** Adding Media querys **/


@media only screen and (max-width: 600px) {

	.nav-brand {
		font-size: 30px;
	}

	body {
		line-height: 3.5px;
		  margin: 0;
  padding: 0;
	}


	button.is-large:nth-child(1) {
		width: 44%;
	}
	
	button.is-large:nth-child(1) > a:nth-child(1) {
		font-size: 12px;
		  text-align: center;
	}

	.is-danger > div:nth-child(1) {
		background-color: var(--light);

	}
	
	button.is-large:nth-child(1){
	left:  25%;
	margin-bottom: 2%;
	
	}
	

	div.column > div > a > img {
	height: 300px;
	}


	#header > nav:nth-child(1) {
	    position: fixed;
	    z-index: 999;
    

	}

	.is-danger > div:nth-child(1) {
	    position: fixed;
	    z-index: 998;
		     
	}
	
	/*** To make the page not moving  **/
	
	body {
	    overflow-x: hidden;
	    margin-botoom: 100px;
	}

	.space {
	    margin-top: 320px;	  
	}

	
	
 div#modal-js-example.modal.is-active div.modal-content div.box section.hero.is-dark div.hero-body {
     font-size: 14px;
     padding: 1px;
    
 }
/** div#modal-js-example.modal.is-active div.modal-content {
       position: absolute;
  bottom: -130px;
  left: 8.5%;
 }
**/

}
